@import "tailwindcss";

@theme {
  --color-triuno-900: #000000;
  --color-triuno-800: #0c0300;
  --color-triuno-700: #130401;
  --color-triuno-600: #1f0803;
  --color-triuno-500: #601a06;
  --color-triuno-400: #88300b;
  --color-triuno-300: #9e370c;
  --color-triuno-200: #ad3e0c;
  --color-triuno-100: #d75012;

  --color-background: var(--color-triuno-900);
  --color-foreground: #ffffff;

  --color-amber-copper: #A34F22;
  --color-dark-amber: #C46A2A;
  --color-bronze: #D58A3A;
  --color-muted-glow: #6B2E14;
  --color-deep-brown: #120804;
  --color-bg-primary: #050505;
  --color-bg-secondary: #0A0806;

  --font-sans: var(--font-neue-montreal);
  --font-mono: var(--font-geist-mono);
}

:root {
  color-scheme: dark;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  background-image: radial-gradient(ellipse at top center, var(--color-triuno-500) 0%, var(--color-triuno-600) 20%, var(--color-triuno-700) 40%, var(--color-triuno-900) 100%);
  background-attachment: fixed;
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@utility animate-gradient {
  animation: gradient 6s linear infinite;
}

@keyframes roll {
  0% { transform: rotateX(0deg) rotateY(0deg); }
  100% { transform: rotateX(360deg) rotateY(360deg); }
}
